* {
   margin: 0;
   padding: 0;
   max-width: 100vw;
   box-sizing: border-box;
   color: wheat;
}

body {
   background-color: black;
}

#root {
   margin: auto;
   width: 100vw;
   height: auto;
   max-width: 1024px;
   min-width: 320px;
   min-height: 100vh;
   background-color: firebrick;
   font-family: Faculty Glyphic;
   text-shadow: 1px 1px rgb(75, 34, 34);
}

main {
   padding-top: 104px;
}

h2 {
   text-align: center;
   text-shadow: 2px 2px rgb(75, 34, 34);
   padding: 8px;
}

h5 {
   font-size: 0.9rem;
}

p {
   font-size: 0.8rem;
}

a {
   text-decoration: none;
}

.interactable:hover {
   scale: 1.05;
}

.interactable:active {
   scale: 0.95;
}

.border {
   display: inline;
   border: 6px double rgb(75, 34, 34);
   color: firebrick;
   background-color: wheat;
   text-shadow: 1px 1px rgb(75, 34, 34);
   padding: 0 4px 2px 4px;
   box-shadow: 3px 3px #4b2222;
}

.nav-buttons {
   display: flex;
   justify-content: space-between;
   width: 90%;
   max-width: 512px;
   margin: auto;
   flex-direction: row-reverse;

   .border {
      text-shadow: 0 0 ;
      font-family: Faculty Glyphic;
   }
}

.display-block {
   max-width: 383px;
   margin: auto;
}

.display-block button {
   padding: 8px;
   border-radius: 30%;
}

@media (width >= 1024px) {
   #root {
      border-left: 6px solid rgb(75, 34, 34);
      border-right: 6px solid rgb(75, 34, 34);
   }
}
/* * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   max-width: 512px;
   margin: auto;
   font-family: "Faculty Glyphic";
   color: wheat;
   background-color: firebrick;
   text-shadow: 1px 1px black;
   text-size-adjust: 90%;

   p {
      text-shadow: 0px 0px;
      color: black;
   }

   img {
      border: 8px solid chocolate;
      border-radius: 25%;
      border-style: double;
   }
}

.dev-border {
   border: 1px solid black;
}

#header {
   min-width: 320px;
   display: flex;

   h1 {
      width: 50%;
   }
}

#navbar {
   display: flex;
   width: 50%;
}

.nav-link {
   text-align: center;
}

.display-block > button {
   padding: 16px;
}

.article-card, .topic-card {
   border: 1px solid black;
   display: flex;
   height: 128px;
   flex: 1;
}

.article-card:hover {
   scale: 110%;
}

.card-img {
   height: 100%;
   width: 128px;
   display: flex;

   img {
      width: 120px;
   }
}

.card-text {
   height: 100%;
   flex: 1;
   padding: 16px 8px 0 8px;

   div {
      h5 {
         padding-right: 16px;
      }
      display: inline-flex;

      p {
         padding-right: 16px;
         font-size: small;
      }
   }
}

#article {
   img {
      width: 100vw;
   }

   > div {
      width: 90%;
      text-wrap-style: pretty;
   }
}

.vote-counter {
   width: 100%;
   display: flex;
   justify-content: left;

   p,
   button {
      margin: 0 16px 0 0;
   }

   button {
      width: 32px;
      height: 32px;
   }
}

#comment-ui {
   display: flex;
   width: 90vw;
}

#comment-form {
   width: 90vw;
   display: grid;
   grid-template:
      "label label"
      "user comment"
      "count count"
      "submit submit";
   grid-template-columns: 96px auto;

   button {
      grid-area: submit;
      display: block;
      padding: 8px 16px;
   }
}

#comment-char-count {
   grid-area: count;
   font-size: small;
   text-align: right;
   margin-right: 0;
}

#comment-form-label {
   grid-area: label;
   display: block;
}

#comment-user-display {
   grid-area: user;
   display: flex;
   flex-direction: column;
   border: 1px solid black;
   height: 96px;
   width: 96px;
   margin-left: 0;
   align-content: end;

   img {
      margin-top: 8px;
      flex: 1;
      height: 32px;
   }
   p {
      margin-bottom: 8px;
   }
}

#comment {
   grid-area: comment;
   border: 1px solid black;
   width: 100%;
   height: 96px;
   resize: none;
   padding: 4px;
}

#comment-submit-msg {
   text-align: center;
   padding-top: 8px;
}

.comment-delete-btn {
   padding: 8px;
}

.comment-deleted {
   display: flex;
   height: 64px;
   text-align: center;
}

#sort-bar {
   display: flex;
   .sort-category {
      display: flex;
      flex-direction: column;
      padding-bottom: 8px;
   }
}

h1 {
   padding-left: 8px;
}

h2 {
   text-align: center;
}

#page-error {
   padding-top: 64px;
   display: flex;
   flex-direction: column;
   width: 90vw;

   a {
      padding: 16px;
      font-size: larger;
      font-weight: bold;
      border: 1px solid black;
   }
} */
