
#sort-bar {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(75, 34, 34);
    border-color: wheat;
    width: 512px;
    margin: auto;
    margin-bottom: 8px;

    .sort-category {
       display: flex;
       flex-direction: column;
       padding-bottom: 8px;
       text-align: center;

       select, option {
        font-family: Faculty Glyphic;
        color: black;
       }
    }
 }