* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 512px;
    margin: auto;
}

.dev-border {
    border: 1px solid black;
}

#header {
    min-width: 320px;
    display: flex;

    h1 {
        width: 50%;
    }
}

#navbar {
    display: flex;
    width: 50%;
}

.nav-link {
    text-align: center;
}
